.container {
  margin: 100px 0;
}

.card {
  margin: 0 2% !important;
}

.title {
  fontsize: 14;
}

.Infected {
  border-bottom: 8px solid rgba(0, 0, 255, 0.5);
}

.Recovered {
  border-bottom: 8px solid rgba(0, 255, 0, 0.7);
}

.Deaths {
  border-bottom: 8px solid rgba(255, 0, 0, 0.7);
}

.active {
  border-bottom: 8px solid #cccc00;
}
